version: '3.3'

services:
   wordpress:
     image: wordpress:latest
     volumes:
       - wordpress_files:/var/www/html
     ports:
       - "80:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: 10.20.1.76:3306
       WORDPRESS_DB_USER: admin
       WORDPRESS_DB_PASSWORD: VMwareonAWS1!
       WORDPRESS_DB_NAME: wordpress

volumes:
    wordpress_files:
    db_data:
